/0_perfectGameYearlyMetrics.csv
/10_perfectGameYearlyMetrics.csv
/11_perfectGameYearlyMetrics.csv
/12_perfectGameYearlyMetrics.csv
/13_perfectGameYearlyMetrics.csv
/14_perfectGameYearlyMetrics.csv
/15_perfectGameYearlyMetrics.csv
/16_perfectGameYearlyMetrics.csv
/17_perfectGameYearlyMetrics.csv
/1_perfectGameYearlyMetrics.csv
/2024CommitsOverTime.csv
/2_perfectGameYearlyMetrics.csv
/3_perfectGameYearlyMetrics.csv
/4_perfectGameYearlyMetrics.csv
/5_perfectGameYearlyMetrics.csv
/6_perfectGameYearlyMetrics.csv
/7_perfectGameYearlyMetrics.csv
/8_perfectGameYearlyMetrics.csv
/9_perfectGameYearlyMetrics.csv
/BAD2024CommitsOverTime.csv
/pefectGameBestMetrics.csv
/pefectGameCareerMetrics.csv
/pefectGameYearlyMetrics.csv
/testing
/total2024.csv